# Ignore environment variables
/.env

# Ignore SSL/TLS certificate
ssl/ca-certificate.crt

node_modules/

# Migration logic
/knexfile.js


.env.test

# Google Drive Keys
config/driveuploaderapp-*.json


.sequelizerc
